*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

select {
  /*A reset of styles, including removing the default dropdown arrow*/
  appearance: none;
  /*Additional resets for further consistency*/
  background-color: transparent;
  border: none;
  padding: 2px 0 1px 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.page-container {
  margin: auto;
  width: 80vw;
}

.App {
  display: flex;
  flex-direction: column;
}

span {
  align-self: center;
}

button {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #74b9ff;
  font-size: 20px;
  padding: 10px 16px;
  cursor: pointer;
}

input,
select {
  border-bottom: 1px solid grey;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: right;
}

input:focus,
select:focus {
  background: #55efc4;
}

input[type="number"] {
  -moz-appearance: textfield;
}
