html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.schedule-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
}

.schedule-container > div {
  width: min-content;
  margin: auto;
  margin-top: none;
  margin-left: 2rem;
}

.schedule-container > div > h3 {
  text-align: center;
}

span {
  align-self: center;
}

button {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #74b9ff;
  font-size: 20px;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #6c5ce7;
}
